<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Instaslam</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav>
 <img id="ig" src="https://www.techadvisor.com/cmsdata/features/3688877/how-to-upload-video-to-instagram-from-pc-main2_thumb900_1-1.png" alt="instaslam logo">
 <div class="headline"><h1>Instaslam</h1></div>

 <% if (user) { %> 
    <a href="/logout" class="login">LOG OUT&nbsp;<img src="https://img.freepik.com/free-photo/google-logo-realistic-cpu-technology-background-3d_327483-320.jpg"></a>
    <% } else { %> 
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://img.freepik.com/free-photo/google-logo-realistic-cpu-technology-background-3d_327483-320.jpg"></a>
    <% } %> 
</nav>
