<%- include('./partials/header') %>
<% if (user) { %> 
<form id="addPost" method="POST" action="/">
    <input type="text" name="link">
    <button type="submit" value="POST">POST</button>
</form>

<%}; %>
<section id="feed">
    <% slams.forEach(post =>{ %>
<img src=<%= post.userAvatar %> >
<p><%= post.userName %> </p>
<h1> Link: <%= post.link %> </h1>
    <% }) %> 
    
</section>
</body>
</html>